.nav-contact{
	padding:0.937rem 3.125rem;
	padding-bottom:0px;
	font-size:1.8rem;
	color:$main-color;
	// background-color:red;
	&__phone{
		display: none;
		font-size:1.6rem;
		font-weight:500;

		a{
			// text-align: center;
			// float: left;
			// width:30px;
			// height:30px;
			// border: 1px solid $main-color;
			// border-radius: 100%;

			i{
				font-size:16px;
			    // line-height:22px;
				color: $main-color;
			}
		}
		@include mobile{
			margin-bottom:35px;
			display: block;
		}
	}
	p{
		margin:0 auto;
		@include mobile{
			float: right;
		}
	}
}

.header{
	padding:15px 7px;
	
	@include mobile{
		padding:0px;
	}
	&--is-expanded{
		// background-color:rgba(32,152,209,0.4);
	}

}

.navbar{
	// background-color:yellow;
	@include tablet{
		// background-color: green;
	}
	@include desktop{
		// background-color: red;
	}
	&__ul_list{
		transition: all 0.3s ease-out;
		position: relative;
		z-index: -10;
		padding-top:42px;
		text-align: center;
		display: none;
		transform: scale(1.2);
		padding-left:0px;
		@include tablet{
			display:flex;
			width:550px;
			justify-content: space-between;
			padding:0px 15px;
			margin-right: 4.8rem;
			opacity:1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
		}
		&--is-visible{
			// opacity:1;
			z-index: 1;
			transform: scale(1);
			display: block;
			width:100vw;
		}

		li{
			list-style: none;
			margin-bottom:22px;
			margin-top:0px;

			@include tablet{
			margin-bottom:0px;
			}
			a{
				color:white;
				font-weight:600;
				padding:5px 8px;
				background-color:rgba(32,152,209,0.8);
				font-size:1.4rem;
				@include tablet{
					color:$main-color;
					font-weight:400;
				    font-size: 1.4rem;
				    background-color:white;
				}

				.active{
					text-decoration:underline;
				}
			}
		}
	}

	&__logo-container{
		position:relative;
	}
	
	// &__mobilemenu{
	// 	color:$main-color;
	// 	position:absolute;
	// 	right:10%;
	// 	top:38%;
	// 	width:20px;
	// 	height:25px;
	// 	cursor: pointer;
	// 	z-index: 10;

	// 	@include tablet{
	// 		display: none;
	// 	}
		
	// }

	&__mobilemenu{
		width:22px;
		height:20px;
		position: absolute;
		top:19px;
		right:15px;
		// z-index: 10;

		&::before {
			content:"";
			position: absolute;
			top:0;
			left:0;
			width:22px;
			height: 3px;
			background-color:$main-color;
			transform-origin: 0 0;
			transition: all 0.3s ease-out;
		}

		&__middle{
			position: absolute;
			top:8px;
			left:0;
			width:22px;
			height:3px;
			background-color:$main-color;
			transition: all 0.3s ease-out;
			transform-origin: 0 50%;
		}

		&::after{
			content:"";
			position: absolute;
			bottom:0px;
			left:0;
			width:22px;
			height: 3px;
			background-color:$main-color;
			transform-origin: 0 100%;
			transition: all 0.3s ease-out;
		}

		@include tablet{
			display: none;
		}
	}

	&__mobilemenu--close-X{
		&::before{
			transform:rotate(45deg) scaleX(1.25);
		}
		.navbar__mobilemenu__middle{
			opacity:0;
			transform: scaleX(0);
		 }
		&::after{
			transform:rotate(-45deg) scaleX(1.25) translateY(1.5px);
		}
	}


	&__logo{
		// background-color:green;


		h1{
			margin: 0px;
			font-size: 35px;
			font-weight: 700;
			
			a{
				text-decoration: none;
			}
			span{
				font-weight: 300;
			}
		}
	}

	&__subheading{
		width:210px;
		margin-bottom: 0;
	}

	// &__menu{
		
	// 	@media (max-width:730px){
	// 		display: none;
	// 	}
	// }


	// &__menu{
	// 	opacity: 0;
	// 	transform:scale(1.2);
	// 	transition: all 0.3s ease-out;
	// 	position: relative;
	// 	z-index: -10;
	// 	padding-top:60px;
	// 	text-align: center;
	// 	@include tablet{
	// 		opacity:1;
	// 		z-index: 1;
	// 		padding-top: 0;
	// 		transform: scale(1);
	// 	}

	// 	&--is-visible{
	// 		opacity:1;
	// 		z-index: 1;
	// 		transform: scale(1);
	// 	}
	// }
}


