.footer{
	height:150px;
	background-color:#222;
	padding:15px 0;
	color:#ccc;

	&__navbar-links{
		font-weight:300 !important;	
		color:#ccc !important;	
	}


	&__social-links{

		a{
			margin-right: 15px;
			img{
				width:35px;
			}
		}

		
	}
	
}

