.footer{
	height:150px;
	background-color:#222;
	padding:15px 0;
	color:#fff;

	&__navbar{

		ul{
			li{
				a{
					color:#fff !important;
					font-size: 300;
				}
			}
		}
		
	}


	&__social-links{

		a{
			margin-right: 15px;
			img{
				width:35px;
			}
		}

		
	}
	
}

