.showcase{
	background:url(../img/resumeplus.jpg) no-repeat;
	background-size:cover;
	height:400px;
	padding:40px 0;

	div{
		border:2px solid $main-color;
		height:320px;
		padding:40px 30px;

		p{
		color:#fff;
	  }
	}
}









