.showcase{
	background:url(../img/resumeplus.jpg) no-repeat;
	background-size:cover;
	height:400px;
	padding:40px 0;

	div{
		border:2px solid $main-color;
		height:320px;
		padding:40px 30px;

		p{
		color:#fff;
	  }
	}
}




.testimonials{
	height:500px;
	background-color:#f6f6f6;
	color:#444;
	position:relative;
	blockquote{
		padding:40px 80px;
		font-weight:300;
	}

	.arrow{
			width:50px;
			position: absolute;
		}
	.left-arrow{
			top:50%;
		}
	.right-arrow{
			right:20px;
			top:50%;
		}
}


.footer{
	height:200px;
	background-color:#444;
}



// Slider style goes here


.slider{
	width:800px;
	height:300px;
	overflow:hidden;
	margin:0 auto;

	p{
		width:800px;
		height:300px;
		float: left;
		display: none;
	}

}

.arrow-box{
	width:300px;
	margin:0 auto;

	.l-arrow{
		width:50px;
		float:left;
	}
	.r-arrow{
		width:50px;
		float:right;
	}
}









