.about {
	
	background-color:#F9F9F7;
	color:#66625B;
	padding:56px 0;

	&__box{
		padding:15px;

		@include mobile{
			width:650px;
			margin:0 auto;
		}
		
	}
	&__heading{
		margin-bottom:30px;
		margin-top: 0px;
	}
	&__text{
		font-size: 18px;
		font-weight: 300;
		margin:0 auto;


	}
}