.contact{
	// background:url(../img/contact-bg-2.png) ;
	// background-size:cover;
	background-color:#FEFBF4;
	height:350px;
	color:#006A8C;

	&__title{
		padding-top:2.8rem;
	}
	
	&__box{
		height:350px;
		color:#006A8C;
	}
	&__box2{
		height:350px;
		transform:translateY(20%);
	}

	&__text{
		font-size: 1.8rem;
		font-weight:100;
	}
	&__span{
		display: block;
	}
}