.contact{
	background:url(../img/contact-us.jpg) no-repeat;
	background-size:cover;
	height:350px;
	
	&__box{
		background-color:rgba(0,0,0,0.8);
		height:350px;
		color:#fff;
	}
	&__box2{
		height:350px;
		transform:translateY(30%);
	}
	&__span{
		display: block;
	}
}