.services{
	background-color:#323232;
	color:#fff;
	height:550px;
	
	&__boxOne{
		margin-bottom:2.2em;
	}
	&__boxTwo{
		margin-bottom:30px;
	}

	&__heading{
		margin-bottom:2.2em;
	}
	
	&__subheading{
		font-size: 22px;
		margin-bottom:25px;
	}
	

}