.testimonial{
	// background-color:red;
	padding:45px 0;
	position:relative;
	height:auto;
	overflow:hidden;


	&__arrows{
		width:50px;
	}
	
	&__left-box{
		// background-color:green;
		height:300px;
		display: flex;
		justify-content:center;
		align-items: center;
	}

	&__heading{
		margin-bottom:30px;
	}
	&__text{
		font-size:18px;
		height:400px;
		font-weight:300;
		display: none;
		// background-color:yellow;
	}
	&__span{
		font-size:14px;
	}
}