.vision{
	background-color:$main-color;
	height:350px;
	color:#fff;
	padding:58px 0;
	h1{
		margin-bottom:34px;
	}
	p{
		font-size:19px;
		font-weight: 300;
		@include mobile{
			width:550px;
			margin:0 auto;
		}
		
	}
}

